header{
	display: flex;
	width: 60%;
	height: 100px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	margin-right: auto;
	margin-left: auto;
	white-space: nowrap;
}

.header-other a{
	color: black;
	text-decoration: none;
	margin: 0px 5px 0 5px;
}

.header-search input{
	padding: 8px;
	width: 265px;
}

.mobile-search{
	display: none;
}

.icon-search-mobile{
	display: none;
}

.mobile-search input{
	padding: 8px;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #666;
}

.header-ico .logo{
	display: block;
	background: url("../img/logo.svg") no-repeat;
	height: 40px;
	width: 45px;
}

.header-mobile{
	font-size: 26px;
}

.site-name a{
	text-decoration: none;
	color: black;
	font-size: 36px;
}

@media screen and (max-width: 1400px) {
	header{
		width: 70%;
	}
}

@media screen and (max-width: 1120px) {
	header{
		width: 80%;
	}
}

@media screen and (max-width: 1024px) {
	header{
		width: 100%;
	}

	.header-search{
		display: none;
	}

	.header-other{
		display: none;
	}

	.header-mobile{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 62px;
	}

	.icon-search-mobile{
		display: block;
	}
}