* {
  padding:0;
  outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  font-family: verdana, trebuchet, sans-serif;
}
html, body {height:100%; box-sizing: border-box; margin:0;}
html {font-size:100.01%;overflow-x:hidden;}

@media screen and (max-width: 1023px){
	html{
		overflow-x: visible;
	}
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.all-content{
	flex: 1 0 auto;
	display: flex;
	margin-bottom: 40px;
}

body.overflow-body{
	overflow: hidden;
}